<%= form_for(@post) do |f| %>
<div class="well" style="width: 20%;" >
  Time To Publish Blog
  <div id="datetimepicker3" class="input-append">
    <input data-format="hh:mm:ss" type="text" ></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
  <div id="datetimepicker2" class="input-append">
    <input data-format="MM/dd/yyyy" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
	<%= f.file_field :avatar %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker3').datetimepicker({
      pickDate: false
    });
  });
  $(function() {
    $('#datetimepicker2').datetimepicker({
      pick12HourFormat: true,
	  pickTime: false
    });
  });
</script>